basemap==1.0.7
beautifulsoup4==4.4.1
bzr==2.7.0
bzr-builddeb==2.8.6
ccsm==0.9.12.3
CDDB==1.4
chardet==2.3.0
Cheetah==2.4.4
compizconfig-python==0.9.12.3
configobj==5.0.6
cryptography==1.2.3
cycler==0.9.0
Cython==0.28.2
dap==2.2.6.7
decorator==4.0.6
defusedxml==0.4.1
distro-info===0.14build1
dnspython==1.12.0
enum34==1.1.2
eyeD3==0.6.18
FormEncode==1.3.0
future==0.15.2
GDAL==1.11.3
gyp==0.1
h5py==2.7.1
html5lib==0.999
httplib2==0.9.1
idna==2.0
ipaddress==1.0.16
jack==3.1.1
Jinja2==2.8
keyring==7.3
launchpadlib==1.10.3
lazr.restfulclient==0.13.4
lazr.uri==1.0.3
lxml==3.5.0
MarkupSafe==0.23
matplotlib==1.5.1
mpmath==1.0.0
ndg-httpsclient==0.4.0
networkx==2.1
numpy==1.11.0
oauth==1.0.1
OWSLib==0.10.3
Paste==1.7.5.1
PasteDeploy==1.5.2
PasteScript==1.7.5
phablet-tools==0.1
Pillow==3.1.2
psutil==3.4.2
psycopg2==2.6.1
pyasn1==0.1.9
pycrypto==2.6.1
pycurl==7.43.0
pydns==2.3.6
PyGeoNS==0.1
Pygments==2.1
pygobject==3.20.0
pygpgme==0.3
pykerberos==1.1.5
pyliblzma==0.5.3
pyogg==1.3
pyOpenSSL==0.15.1
pyparsing==2.0.3
pyproj==1.9.5.1
pyspatialite==3.0.1
pystrain==1.0
python-apt==1.1.0b1+ubuntu0.16.4.1
python-dateutil==2.4.2
python-debian==0.1.27
python-debianbts==2.6.0
python-openid==2.2.5
pytz==2014.10
pyvorbis==1.5
pyxdg==0.25
PyYAML==3.11
radiotray==0.7.3
RBF==1.3
reportbug===6.6.6ubuntu1
requests==2.9.1
s-tui==0.6.7
scgi==1.13
scipy==0.17.0
SecretStorage==2.1.3
Shapely==1.5.13
simplejson==3.8.1
six==1.10.0
SOAPpy==0.12.22
sympy==1.1.1
Tempita==0.5.2
ubuntu-dev-tools===0.155ubuntu2
unity-lens-photos==1.0
urllib3==1.13.1
urwid==1.3.1
wadllib==1.3.2
wstools==0.4.3
zope.interface==4.1.3
