.flash { background: #cee5F5; padding: 0.5em; border: 1px solid #aacbe2; }
.error { background: #f0d6d6; padding: 0.5em; }
#stations-table {
    width: 40%;
    background-color: #f1f1c1;
    text-align: left;
    border: 1px solid black;
    border-collapse: collapse;
}

